<div class="jumbotron text-center">
  <h1>MEAN Authentication App</h1>
  <p class="lead">MEAN app built from sratch.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-secondary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Nodejs/Express Web server using MySQL database.</p>
  </div>

  <div class="col-md-4">
    <h3>Angular 7</h3>
    <p>Using Angualr to create components and services.</p>
  </div>

  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Full featured authentication using JSON web tokens.</p>
  </div>
</div>
